<html>
  <body
    style="
      font-family: Arial, sans-serif;
      color: #333;
      padding: 20px;
    "
  >
    <h2 style="color: #2c3e50">Hello, <strong>{{first_name}}</strong>!</h2>
    <p style="font-size: 14px">
      Thank you for using <strong>Share Positive Energy</strong>! I appreciate
      your contribution to making people smile :)
    </p>
    <p style="font-size: 14px">I hope you are doing well. Best wishes, Lily (the Creator..!)</p>

    <p style="font-size: 14px">
      BTW, you came here for a confirmation code, here it is:
    </p>

    <p style="font-size: 24px; font-weight: bold; color: #951203">
      {{confirmation_code}}
    </p>

    <p style="font-size: 14px">Thanks again, pal!</p>
    <p style="font-size: 12px; font-weight: bold">Lilёk</p>

    <img
      src="https://i.pinimg.com/736x/28/17/b1/2817b1ff97ec95bcfbf912eb73666c63.jpg"
      alt="Positive Energy Image"
      style="width: 300px; border-radius: 10px; margin-top: 20px"
    />
  </body>
</html>
